@import 'assets/sass/mixin';


$vertical-margin: 80px;

$color-darkgray: #495057;
$color-red: #E60004;
$color-lightgray: #F8F8F8;



@font-face {
  font-family: 'Montserrat-Black';
  src: url("assets/fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url("assets/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("assets/fonts/Montserrat-SemiBold.ttf");
}

#container{

    max-width: 1920px;

}

#container:after {
  content: '';
  display: block;
  clear: both;
}


.grid-sizer, .item {
  width: 20%;
}


  .item{
    //float: left;
    img{
      width: 100%;
    }
  }


  .collars{
    width: 60%;
    //position: absolute;
    //top: 0;
    //left: 0;

  }

.lashes{
  width: 40%;
  //position: absolute;
  //top: 0;
  //left: 55%;
}






  .roulettes{
    width: 40%;
    //position: absolute;
    //top: 38%;
    //left: 7%;

  }




.logo{
    width: 20%;
    //position: absolute;
    //top: 38%;
    //left: 42%;
  }

  .bages{
    width: 20%;
    //position: absolute;
    //top: 63%;
    //left: 42%;
  }

  .family{
    width: 20%;
    //position: absolute;
    //top: 63%;
    //left: 64%;
  }





































